#
# huawei Type C Connector drivers
#

config HUAWEI_TYPEC
	tristate "typec connector"
	depends on GPIOLIB && I2C
	default n
	help
	  Say Y here to enable Type C Connector driver.
	  This driver provides a unified interface for the Type C Connector.
	  Currently supported typec device as below:
	  pericom30216 (Pericom)
	  tusb320 (TI)
	  fusb301 (Fairchild)
	  ptn5150h (Nxp)

source "drivers/huawei_platform/usb/typec/pericom30216/Kconfig"
source "drivers/huawei_platform/usb/typec/tusb320/Kconfig"
source "drivers/huawei_platform/usb/typec/fusb301/Kconfig"
source "drivers/huawei_platform/usb/typec/ptn5150h/Kconfig"
