source "drivers/huawei_platform/power/battery/battery_ct/Kconfig"
source "drivers/huawei_platform/power/battery/battery_voltage/Kconfig"
source "drivers/huawei_platform/power/battery/battery_temp/Kconfig"
source "drivers/huawei_platform/power/battery/battery_type_identify/Kconfig"
